/*     UNIVERSAL     */

* {
  margin: 0;
  padding: 0;
  /*  overflow: hidden;*/
  color: black;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-image: url(https://external-preview.redd.it/Uvj1t8k1HpP2RBGfXkCAmeHrLHJb9_AQx1fmFO3r8po.png?auto=webp&s=afb59b34681ae06b8350bdfd829927bf92ff44de);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* ++++++++++++++++++++++++++++++++++++++++ */
/* NAV BAR ++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */

.main-nav {
  background-color: #f7b2b2;
}

.main-nav .navbar-brand {
  font-size: 180%;
  font-weight: 600;
}

.nav-item {
  font-size: 105%;
  padding: 0 20px;
  letter-spacing: 1.5px;
}

/* ++++++++++++++++++++++++++++++++++++++++ */
/* LOGIN FORM +++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */

.login-form,
.welcome-message {
  width: fit-content;
  margin: 60px auto;
  padding: 15px 45px 30px 45px;
  border: 1px solid rgb(146, 146, 146);
  border-radius: 10px;
  background-color: rgba(243, 243, 243, 0.945);
  box-shadow: 0 2px 2px #818181;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}

.login-form h2,
.welcome-message h2 {
  font-size: 150%;
  margin-top: -3px;
}

input[type='text'],
input[type='password'],
.login-form .btn {
  width: 350px;
}

.login-form .btn {
  background-color: #92d19e;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

.row {
  padding-top: 20px;
}

.welcome-message h2 {
  padding: 0 20px;
  margin-bottom: 0;
}

.alertMsg {
  width: 330px;
  font-size: 90%;
  margin-left: -10px;
  padding-top: 20px;
  margin-bottom: 0;
  text-align: justify;
}

/* ++++++++++++++++++++++++++++++++++++++++ */
/* HIDE ANIMATION +++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ */

.hidden {
  display: none;
}

.hideTransition {
  opacity: 0;
}
